<div class="container">
  <div class="row">
    <h2>会員一覧</h2>
  </div>
  <div class="row>"
    <table>
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td> 
          <td>
            <%= link_to full_name(user), admin_customer_path(user) %>
          </td>
          <td><%= user.email %></td>
          <td><%= customer_status(user) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>