<div class="container">
  <div class="row my-2">
    <h2>ジャンル編集</h2>
  </div>
  
  <div class="row my-3">
    <%= render 'layouts/errors', obj: @genre %>
  </div>
  
  <div class="row my-4">
    <%= render 'form', genre: @genre, path: admin_genre_path(@genre), submit_text: "変更を保存" %>
  </div>
</div>