<div class="container">

  <div class="row my-3">
    <%= render 'layouts/errors', obj: @address %>
  </div>

  <div class="row my-3">
    <h1>配送先編集</h1>
  </div>

  <div class="row my-3">
    <%= render 'form', address: @address, submit_text: "変更内容を保存" %>
  </div>

</div>