<div id="banner" class="fixed-bottom w-100">
  <div class="d-flex justify-content-center">
    <div class="position-relative">
      <a href="https://web-camp.io/commit/course/?argument=lndrcWsV&dmai=a66755de0ef027&utm_source=owned-media&utm_medium=dwc-unspecified-slider" target="_blank" rel="noopener noreferrer">
        <img src="<%= asset_path('add.jpg') %>" alt="Banner" style="height: 100px;">
      </a>
      <button type="button" id="close-banner" class="close position-absolute" aria-label="Close" style="top: 5px; right: 10px;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>