<header>
  <div class="container">
    <div class="row">
      <div class="col">
       ロゴ表記
      </div>
    </div>

    # ログインしている状態とpublicログイン状態とadminログイン状態で表示を変える
    <div class="col">
      <div class="row">
        ナビを使ったリンク表示
      </div>
      <div class="row">
        検索窓
      </div>
    </div>
  </div>
</header>